:root {
  --color-smog: #f0f0f0;
  --color-smog-transparent: rgba(240, 240, 240, 0.95);
  --color-earth: #3c3830;
  --color-earth-transparent: rgba(60, 56, 48, 0.8);
  --font-sans: "Basis Grotesque Pro", sans-serif;
  --font-sans-alt: "PolySans", sans-serif;
  --radius: 0.25rem;
  --font-xl: 1.25rem;
  --line-height-xl: 1.75rem;
  --font-2xl: 1.5rem;
  --line-height-2xl: 2rem;
}

/* TODO: Remove any styles on body before deployment! */
body {
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

#map-grid-scrolly {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.grid-scrolly-legend {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-smog);
  font-family: var(--font-sans-alt);
  transition: opacity 0.3s ease-out;
}

.grid-scrolly-legend--hidden {
  opacity: 0;
}

.grid-scrolly-legend--visible {
  opacity: 1;
}

.grid-scrolly-legend p {
  margin: 0;
}

.grid-scrolly-legend__subtitle {
  margin-top: 0.25rem;
  color: rgba(240, 240, 240, 0.5);
}

.grid-scrolly-legend__stat {
  color: rgba(240, 240, 240, 0.5);
  font-size: 3.75rem;
  line-height: 1;
}

#scrolly {
  position: absolute;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120vh;
  margin-left: auto;
  margin-right: auto;
}

.step:last-child {
  padding-bottom: calc(40vh);
}

.step__content {
  width: 75vw;
  background: var(--color-smog-transparent);
  font-family: var(--font-sans);
  padding: 1.25rem;
  border-radius: var(--radius);
  font-size: var(--font-xl);
  line-height: var(--line-height-xl);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.4),
    0 4px 6px -4px rgb(0 0 0 / 0.4);
}

@media (min-width: 640px) {
  .step__content {
    width: 500px;
    font-size: var(--font-2xl);
    line-height: var(--line-height-2xl);
  }
}

.step:first-child {
  margin-top: 50vh;
}

.step:first-child > .step__content {
  transform: translateY(-50%);
}
