#tx-parcels {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  height: 100vh;
  width: 100vw;
  position: relative;
  pointer-events: none;
  color: #3c3830;
  margin-left: calc((50vw - 50%) * -1);
  max-width: unset;
}

#tx-parcels .tx-parcels__title-container {
  max-width: 600px;
}

#tx-parcels .tx-parcels__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: "PolySans", sans-serif;
}

#tx-parcels .tx-parcels__subtitle {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Basis Grotesque Pro", sans-serif;
}
