body {
	background: #f0f0f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Block Stack */
	.stack {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.stack > * {
		margin-block: 0;
	}

	.stack-2xs > * + * {
		margin-block-start: 0.25rem;
	}

	.stack-xs > * + * {
		margin-block-start: 0.5rem;
	}

	.stack-sm > * + * {
		margin-block-start: 1rem;
	}

	.stack-md > * + * {
		margin-block-start: 1.5rem;
	}

	.stack-lg > * + * {
		margin-block-start: 2rem;
	}

	.stack-none > * + * {
		margin-block-start: 0;
	}

	/* Inline Stack */
	.stack-h {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.stack-h > * {
		margin-inline: 0;
	}

	.stack--h-2xs > * + * {
		margin-inline-start: 0.25rem;
	}

	.stack-h-xs > * + * {
		margin-inline-start: 0.5rem;
	}

	.stack-h-sm > * + * {
		margin-inline-start: 1rem;
	}

	.stack-h-md > * + * {
		margin-inline-start: 1.5rem;
	}

	.stack-h-lg > * + * {
		margin-inline-start: 2rem;
	}

	.stack-h-none > * + * {
		margin-inline-start: 0;
	}
}
